*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: inter, arial sans-serif;
}

nav {
    background-color:blueviolet;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: steelblue;
    padding: 10px;
}

main {
    max-width: 640px;
    position: relative;
    text-align: center;
}


main img {
    max-width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    margin: 1rem;
}


aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto; 
}

aside h2 {
    position: absolute;
    top: 1px;
    left: 120px
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;

}

.indent {
    padding-left: 2rem;

}